<% include partials/header.ejs %>

<%= answers.length %> Answer Forms Completed
  <br/>
  <br/>
     <% answers.forEach(answer => { %>
       <p>ID : <%= answer._id %></p>
       <%= answer.answers %>
       <br />
       <%= answer.answers.name %>

       <br />
       <br />
     <% }) %>



   </ul>
