<!DOCTYPE html>
<html>
  <head>
   <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
      <h1><%= title %></h1>
      <br>
      <h2>Create Questions!!</h2>

      <form action="/questionnaire" method="post">
        <select name='dropdown_action' >
          <option value="string">String-文章-</option>
          <option value="checkbox">Checkbox-満足度-</options>
        </select>
        <input type="text" name="questionnaire_name">
        <!-- <input type="number" name="questionnaire_number"> -->
        <input type="submit">
       </form>



<br>
        <ul>
    	    <% questionnaires.forEach(questionnaire => { %>
    		    <li>
              <%= questionnaire.name %>
              <a href="/questionnaire/<%= questionnaire._id %>/edit">Edit</a>
          　　<a href="/questionnaire/<%= questionnaire._id %>/delete">Delete</a>
            </li>
    	    <% }) %>
        </ul>
  </body>
</html>
