<!DOCTYPE html>
<html>
  <head>
   <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
      <h1><%= title %></h1>
      <br>
      <h2>Create Questions!!</h2>

      <form action="/questionnaire" method="post">
        	<!-- req.body.ingredient_name -->
    	    <input type="text" name="questionnaire_name">
    	    <input type="submit">
        </form>

<br>
        <ul>
    	    <% questionnaires.forEach(questionnaire => { %>
    		    <li>
              <%= questionnaire.name %>
              <a href="/questionnaire/<%= questionnaire._id %>/edit">Edit</a>
          　　<a href="/questionnaire/<%= questionnaire._id %>/delete">Delete</a>
            </li>
    	    <% }) %>
        </ul>
  </body>
</html>
